{{ partial "header.html" . }}
<body>

<main>
	{{ with .Params.titleImage }}
		<style>
			.title-background {
				background-image: url("{{ . }}");
				background-position: center;
				background-repeat: repeat;
			}
		</style>
	{{ end }}

	<header class="projects-greetings {{ if .Params.titleImage }}title-background{{ end }}">
		<div class="content projects-greetings__content">
			<div class="projects-greetings-wrap">
				<div class="projects-greetings__title">
					<div class="{{ if and .Params.darkText .Params.titleImage }}logo-dark {{ if eq (.LanguagePrefix) "/es" }} logo-dark-es {{end }}{{ if eq (.LanguagePrefix) "/en" }} logo-dark-en {{end }} {{ else }}logo-light {{ if eq (.LanguagePrefix) "/es" }} logo-light-es {{end }}{{ if eq (.LanguagePrefix) "/en" }} logo-light-en {{end }} {{ end }}">
						<a href="{{ "/" | relLangURL }}">
							{{ .Title }}
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="related-projects">
		<div class="content">
			<h2>{{ i18n "projects" | title }}</h2>
			<ul class="related-projects-wrap">
				{{ range .Data.Pages.ByDate.Reverse }}
					<li class="related-projects-box">
						<div class="related-projects-box-content">
							<a href="{{ .Params.slug }}"><h4>{{ if .Params.shortTitle }} {{ .Params.shortTitle }} {{ else }} {{ .Title }} {{ end }}</h4></a>
							<a class="nav-link nav-link--plus--orange" href="{{ .Params.slug }}">{{ if .Params.shortTitle }} {{ .Params.shortTitle }} {{ else }} {{ .Title }} {{ end }}</a>
						</div>
					</li>
				{{ end }}
			</ul>
		</div>
	</section>
</main>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}

</body>
</html>
