// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */
.site-header {
	@include aspect-ratio (320 x 110);

	min-height: 90vh;

	color: palette('blue', 'pool');

	background-image: image('illustration-small.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: palette('blue', 'dark');

	@media screen and (min-width: breakpoint('phablet')) {
		min-height: 95vh;

		background-image: image('illustration-medium.png');
		background-position: 85% bottom;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		background-image: image('illustration-small.png');
		background-position: 85% bottom;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		background-image: image('illustration-big.png');
		background-position: 85% bottom;
	}

	@media screen and (min-width: breakpoint('wide')) {
		background-image: image('illustration-super-big.png');
		background-position: 80% bottom;
		background-size: auto 95%;
	}
}

.content-header {
	padding: 2rem;

	@media screen and (min-width: breakpoint('phablet')) {
		padding: 3rem 4rem;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		padding: 4rem 5rem;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		max-width: 65em;

		padding: 6rem 10rem;
	}
	@media screen and (min-width: breakpoint('wide')) {
		padding: 7rem 15rem;
	}
}

[role='banner'] {
	@include image-replacement;

	max-width: 20 rem;
	max-height: 6.4375 rem;

	background-image: image('logo-200w.png');
	background-position: left;

	@media screen and (min-width: breakpoint('phablet')) {
		background-image: image('logo-320w.png');
	}
}

[role='banner'] a {
	display: block;

	height: 100%;

	margin-bottom: $line-height * 3em;

	@media screen and (min-width: breakpoint('phablet')) {
		margin-bottom: $line-height * 5em;
	}
	@media screen and (min-width: breakpoint('wide')) {
		margin-bottom: $line-height * 6em;
	}
}

.site-header__nav-link {
	margin-top: $line-height * 1em;
}
