.manifest {
	background-color: palette('blue', 'pool');
}

.manifest__download {
	margin-top: $line-height * 2em;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	color: palette('white');
}

.manifest__download h2 {
	font-weight: normal;
	font-size: 1em;
	font-family: 'Noto Serif', serif;

	text-transform: none;
}
