/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
	display: table;

	margin-right: auto;
	margin-left: auto;

	border-spacing: $gutter / 4;

	@media screen and (min-width: breakpoint('desktop')) {
		margin-right: 0;

		text-align: right;
	}
}

menu ul,
menu ol,
nav ul,
nav ol {
	display: table-row;

	padding: 0;
	margin: 0;

	list-style: none;
}

menu li,
nav li {
	display: table-cell;

	padding: 0;
	margin: 0;

	vertical-align: middle;

	&::before {
		content: none;
	}
}

menu a,
nav a {
	display: block;

	padding: gutter() / 1em;

	font-family: 'archiaregular';

	color: palette('white');

	font-size: 0.9em;

	@media screen and (min-width: breakpoint('desktop')) {
		padding-right: 0;
	}
}

.current > a {
	pointer-events: none;
}


.main-menu {
	@media screen and (max-width: breakpoint('desktop')) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;

		display: none;

		width: 0;

		margin: 0;

		overflow: hidden;

		text-align: left;
		white-space: nowrap;

		transition: width 0.5s;

		.menu-controller:checked + * & {
			width: $off-canvas-menu-width;

			overflow-y: auto;

			box-shadow: inset -7px 1px 20px palette('shadow');

			transition: width 0.5s;
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {
		position: relative;
		top: $line-height * 4em;

		z-index: layer('default');

		margin-left: 50%;
	}
}


.main-menu > ul {
	@include clearfix;

	width: auto;
	max-width: none;

	background: transparent;

	@media screen and (min-width: breakpoint('desktop')) {
		display: block;

		margin: 0;

		background: transparent;
	}
}


.main-menu > ul > li {
	float: none;

	display: block;

	@media screen and (min-width: breakpoint('desktop')) {
		float: left;

		max-height: 10em;

		columns: 2;
	}
}

.main-menu a {
	@include on-event() {
		@media screen and (min-width: breakpoint('desktop')) {
			text-decoration: none;

			color: palette('red');
		}
	}
}

[for='menu-controller'] {
	position: absolute;
	top: 0;
	left: 0;

	display: none;

	width: 100%;

	padding: $gutter / 2;

	font-size: 1em;

	color: white;

	@media screen and (max-width: breakpoint('tablet')) {
		display: block;
		z-index: layer('dropdown');
	}

	&::before {
		font-weight: bold;
		font-size: 2em;
		line-height: 0.75;

		vertical-align: middle;

		content: '\20\2261\20';

		.menu-controller:checked ~ * & {
			content: '\20\d7\20';
		}
	}
}


/* access
---------------------------------------------------------------------------- */
.skip-links {
	@include table-layout-wrapper;

	max-width: $max-width;
}

.skip-links ul {
	display: table-row;
}

.skip-links li {
	@include table-layout-item;
}

.skip-links a {
	@include visually-hidden--focusable;
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}



/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}

/* inner section
---------------------------------------------------------------------------- */
.inner-section-nav li,
.inner-section-nav a {
	padding: 0;
	margin: 0;
}

.inner-section-nav {
	display: none;

	section:target & {
		display: table;
	}
}

.inner-section-nav a {
	@include nav-links;
}

.inner-section-nav__item--prev a {
	background-image: image('arrow-left-white.png');
}

.inner-section-nav__item--parent a {
	background-image: image('minus-white.png');
}

.inner-section-nav__item--current a {
	background-image: image('plus-white.png');
}

.inner-section-nav__item--next a {
	background-image: image('arrow-right-white.png');
}
