/* navigation
---------------------------------------------------------------------------- */
menu,
nav {
	display: table;

	margin-right: auto;
	margin-left: auto;

	border-spacing: $gutter / 4;
}

menu ul,
menu ol,
nav ul,
nav ol {
	display: table-row;

	padding: 0;
	margin: 0;

	list-style: none;
}

menu li,
nav li {
	display: table-cell;

	padding: 0;
	margin: 0;

	vertical-align: middle;

	&::before {
		content: none;
	}
}

menu a,
nav a {
	display: block;

	overflow: hidden;

	&:link {
		text-decoration: none;
}

[for='menu-controller'] {
	position: absolute;
	top: 0;
	left: 0;

	display: none;

	width: 100%;

	padding: $gutter / 2;

	font-size: 1em;
	color: white;

	@media screen and (max-width: breakpoint('tablet')) {
		display: block;
		z-index: layer('dropdown');
}

.current > a {
	pointer-events: none;
}


/* access
---------------------------------------------------------------------------- */
.skip-links {
}

/* pagination
---------------------------------------------------------------------------- */
.pagination {
}

.pagination__current {
}

.pagination__previous {
}

.pagination__next {
}

/* inner section
---------------------------------------------------------------------------- */
.inner-section-nav li,
.inner-section-nav a {
	padding: 0;
	margin: 0;
}

.inner-section-nav {
	display: none;

	section:target & {
		display: table;
	}
}

.inner-section-nav a {
	@include nav-links;
}

.inner-section-nav__item--prev a {
	background-image: image('arrow-left-white.png');
}

.inner-section-nav__item--parent a {
	background-image: image('minus-white.png');
}

.inner-section-nav__item--current a {
	background-image: image('plus-white.png');
}

.inner-section-nav__item--next a {
	background-image: image('arrow-right-white.png');
}
