.newsletter {
	text-align: center;

	color: palette('blue', 'dark');

	background-color: palette('emerald', 'base');
}

.newsletter-text {
	margin-bottom: 1rem;
}

.newsletter input {
	margin-top: 1rem;
}
