.purpose {
	margin: auto;

	background-color: palette('blue', 'darkness');
}

.purpose h3 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;

	@media screen and (min-width: breakpoint('tablet')) {
		font-size: 2rem;
	}
}

.values-content h3 {
	text-align: center;
}

.purpose p {
	font-size: ms(1);
	color: palette('blue', 'pool');
}

.purpose-wrap {
	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-wrapper;
	}
}

.vision-content {
	padding-bottom: 1rem;

	border-top: solid 5px palette('orange', 'dark');

	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-item($align: 'top', $font-size: 1rem);

		width: calc(66.66% - #{$gutter} / 2);

		margin-right: $gutter;

		vertical-align: top;
	}
}

.mission-content {
	padding-bottom: 1rem;

	border-top: solid 5px palette('orange', 'base');

	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-item($align: 'top', $font-size: 1rem);

		width: calc(33.33% - #{$gutter} / 2);

		vertical-align: top;
	}
}


.values-content ul {
	padding: 0;

	@media screen and (min-width: breakpoint('tablet')) {
		column-gap: $gutter;

		columns: 3;
	}
}

.values-content li {
	padding-top: 0.5rem;
	margin-bottom: 2rem;

	border-top-width: 5px;
	border-top-style: solid;
	color: palette('blue', 'pool');

	@media screen and (min-width: breakpoint('phablet')) {
		margin-bottom: 3rem;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		min-height: 8rem;

		padding-top: 1rem;
		margin-bottom: 0;
	}

	&:nth-child(6n + 1) {
		border-top-color: palette('blue', 'fluorescent');
	}

	&:nth-child(6n + 2) {
		border-top-color: palette('blue', 'pool');
	}

	&:nth-child(6n + 3) {
		border-top-color: palette('emerald', 'fluorescent');
	}

	&:nth-child(6n + 4) {
		border-top-color: palette('orange', 'base');
	}

	&:nth-child(6n + 5) {
		border-top-color: palette('orange', 'dark');
	}

	&:nth-child(6n + 6) {
		border-top-color: palette('red');
	}
}
