// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page article,
.newsletter,
.footer-container {
	padding: 3rem 2rem;
	@media screen and (min-width: breakpoint('phablet')) {
		padding: 3rem;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		padding: 3rem 4rem;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		padding: 5rem 9rem;
	}
	@media screen and (min-width: breakpoint('wide')) {
		padding: 7rem 18rem;
	}
}

// newsletter section
.newsletter {
	text-align: center;

	color: palette('blue', 'dark');

	background-color: palette('esmerald', 'base');
}

.newsletter-text {
	margin-bottom: 1rem;
}

.newsletter input {
	margin-top: 1rem;
}

// manifest section
.manifest {
	background-color: palette('blue', 'pool');
}

.manifest__download {
	margin-top: $line-height * 2em;
	margin-right: auto;
	margin-left: auto;

	font-size: 1rem;

	text-align: center;

	color: palette('white');
}

// projects section
.projects {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

.first-project {
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 55%;

		margin: 0 1.875rem 1.875rem 0;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 55%;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 60%;
	}
}

.second-project {
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 35%;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 35%;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 35%;
	}
}

.projects .first-project__box {
	position: relative;

	padding: 1rem;

	border: solid 1px palette('blue', 'pool');
}

.first-project__box h3 {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 5rem;

	color: palette('blue', 'pool');
}

.second-project__box h3 {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 5rem;

	color: palette('esmerald', 'base');
}

.projects .second-project__box {
	position: relative;

	padding: 1rem;

	color: palette('esmerald', 'base');

	border: solid 1px palette('esmerald', 'base');
}

.first-project__box .navlink-project {
	position: absolute;
	bottom: 1rem;
}

.second-project__box .navlink-project {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

// what-we-do section
.what-we-do {
	margin: auto;

	text-align: center;

	color: palette('white');

	background-color: palette('blue', 'pool');
}

.what-we-do h4 {
	margin-top: 0;
	margin-bottom: 1rem;
}

.what-we-do__first-box,
.what-we-do__second-box,
.what-we-do__third-box,
.what-we-do__fourth-box {
	position: relative;

	height: 15rem;

	padding: 1rem;
	margin: 0.5rem;

	text-align: left;
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 45%;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 45%;

		padding: 1rem;
		margin: 1rem;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 45%;
	}
}

.what-we-do__first-box {
	background-color: palette('red');
}

.what-we-do__second-box {
	background-color: palette('orange', 'dark');
}

.what-we-do__third-box {
	background-color: palette('orange', 'base');
}

.what-we-do__fourth-box {
	background-color: palette('blue', 'fluorescent');
}

.what-we-do__contentbox {
	width: 15em;
}

.button-plus {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

// purpose section
.purpose {
	margin: auto;

	background-color: palette('esmerald', 'base');
}

.purpose h4 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.vision-content {
	padding-bottom: 1rem;

	border-top: solid 5px palette('orange', 'dark');
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 55%;

		padding-bottom: 0;
		margin: 0 1.875rem 1.875rem 0;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 55%;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 59%;
	}
}

.mission-content {
	padding-bottom: 1rem;

	border-top: solid 5px palette('orange', 'base');
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 35%;

		padding-bottom: 0;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 35%;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 35%;
	}
}

.values-content h4 {
	@media screen and (min-width: breakpoint('tablet')) {
		text-align: center;
	}
}

.values-content ul {
	padding: 0;
	@media screen and (min-width: breakpoint('tablet')) {
		columns: 3;
	}
}

.values-content li {
	padding-top: 0.5rem;
	margin-bottom: 2rem;

	@media screen and (min-width: breakpoint('phablet')) {
		margin-bottom: 3rem;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		min-height: 8rem;
		padding-top: 1rem;
		margin-bottom: 0;
	}

	&:nth-child(1) {
		border-top: solid 5px palette('blue', 'fluorescent');
	}

	&:nth-child(2) {
		border-top: solid 5px palette('blue', 'pool');
	}

	&:nth-child(3) {
		border-top: solid 5px palette('esmerald', 'fluorescent');
	}

	&:nth-child(4) {
		border-top: solid 5px palette('orange', 'base');
	}

	&:nth-child(5) {
		border-top: solid 5px palette('orange', 'dark');
	}
	&:nth-child(6) {
		border-top: solid 5px palette('red');
	}
}

// who-we-are section
.who-we-are {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

// counselors section
.counselors {
	color: palette('white');

	background-color: palette('blue', 'pool');
}

// midia section
.midia {
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	color: palette('white');

	background-color: palette('esmerald', 'base');
}

.img-content {
	@include image-replacement;

	max-width: 12rem;
	min-height: 12.5rem;

	margin: 2rem auto;

	overflow: hidden;

	text-indent: 110%;
	white-space: nowrap;

	background-position: center;
	background-repeat: no-repeat;

	border: 1px solid palette('white');

	direction: ltr;
	@media screen and (min-width: breakpoint('phablet')) {
		max-width: 18rem;
		min-width: 14.375rem;

		border: 1px solid palette('white');
	}
	@media screen and (min-width: breakpoint('tablet')) {
		float: none;

		display: inline-block;

		max-width: 20rem;
		min-width: 19rem;

		margin: 0 0.5rem;

		border: 1px solid palette('white');
	}
	@media screen and (min-width: breakpoint('desktop')) {
		max-width: 20rem;
		min-width: 19rem;

		margin: 0 0.5rem;
	}
	@media screen and (min-width: breakpoint('wide')) {
		max-width: 19rem;
		min-width: 18rem;

		margin: 0 0.25rem;
	}
}

.midia-wrap a {
	display: block;

	min-height: 12.5rem;
}

.istoe {
	background-image: image('istoe.png');
	background-size: auto 40px;
}

.g1 {
	background-image: image('g1.png');
	background-size: auto 40px;
}

.folha {
	background-image: image('folha.png');
	background-size: 160px auto;
	@media screen and (min-width: breakpoint('phablet')) {
		background-size: 200px auto;
	}
}

.huffpost {
	background-image: image('huffpost.png');
	background-size: 160px auto;
	@media screen and (min-width: breakpoint('phablet')) {
		background-size: 200px auto;
	}
}
