// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page article,
.newsletter {
	padding-top: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	@media screen and (min-width: breakpoint('phablet')) {
		padding: 3rem;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		padding-top: 3rem;
		padding-right: 4rem;
		padding-bottom: 3rem;
		padding-left: 4rem;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		padding-top: 5rem;
		padding-right: 8rem;
		padding-bottom: 5rem;
		padding-left: 8rem;
	}
	@media screen and (min-width: breakpoint('wide')) {
		padding-top: 7rem;
		padding-right: 18rem;
		padding-bottom: 7rem;
		padding-left: 18rem;
	}
}

// newsletter section
.newsletter {
	text-align: center;

	color: palette('blue', 'dark');

	background-color: palette('esmerald', 'base');
}

.newsletter-text {
	margin-bottom: $line-height;
}

.newsletter input {
	margin-top: $line-height;
}

// manifest section
.manifest {
	background-color: palette('blue', 'pool');
}

.manifest__download {
	margin-top: $line-height * 2em;
	margin-right: auto;
	margin-left: auto;

	font-size: 1rem;

	text-align: center;

	color: palette('white');
}

// projects section
.projects {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

.first-project {
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 55%;

		margin: 0 1.875rem 1.875rem 0;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 55%;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 55%;
	}
}

.second-project {
	@media screen and (min-width: breakpoint('tablet')) {
		display: inline-grid;

		width: 35%;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-grid;

		width: 35%;
	}
	@media screen and (min-width: breakpoint('wide')) {
		display: inline-grid;

		width: 35%;
	}
}

.projects .first-project__box {
	padding: 1rem;

	border: solid 1px palette('blue', 'pool');
}

.first-project__box h3 {
	color: palette('blue', 'pool');
}

.second-project__box h3 {
	color: palette('esmerald', 'base');
}

.projects .second-project__box {
	padding: 1rem;

	color: palette('esmerald', 'base');

	border: solid 1px palette('esmerald', 'base');
}

.navlink-project {
	margin-top: 1rem;
}

// what-we-do section
.what-we-do {
	color: palette('white');

	background-color: palette('blue', 'pool');
}

// purpose section
.purpose {
	background-color: palette('esmerald', 'base');
}

// who-we-are section
.who-we-are {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

// counselors section
.counselors {
	color: palette('white');

	background-color: palette('blue', 'pool');
}

// midia section
.midia {
	color: palette('white');

	background-color: palette('esmerald', 'base');
}
