.projects-greetings {
	position: relative;

	min-height: 40vh;

	color: palette('blue', 'pool');

	background-color: palette('blue', 'dark');
}

.projects-greetings__content {
	padding-bottom: 0;
}

.projects-about h2 {
	margin-bottom: 0;
}

.projects-about h5 {
	font-size: 0.8em;
	font-family: 'archiaregular', $title-font-stack;

	color: palette('black');
}

.projects-about p {
	margin-top: $line-height * 1rem;
	margin-bottom: $line-height * 1rem;

	@media screen and (min-width: breakpoint('tablet')) {
		margin-top: $line-height * 2rem;
		margin-bottom: $line-height * 2rem;
	}
}

.project-subtitle p {
	margin-top: $line-height * 0.5em;
	margin-bottom: 0;

	font-size: ms(2);
	font-family: 'archiabold', $title-font-stack;

	color: palette('black');
}

.projects-about ul {
	width: 100%;

	margin-bottom: 0;
}

.projects-about li {
	width: 100%;

	padding-right: 1rem;
	padding-left: 1em;
	margin-top: 0;
	margin-bottom: $line-height * 0.5rem;
	margin-left: 1.5rem;

	list-style: square;
}

.projects-about .img-full {
	position: absolute;

	width: 100%;
	height: auto;

	margin-top: $line-height * 1rem;
	margin-bottom: $line-height * 1rem;

	object-fit: cover;
}

.projects-greetings-wrap {
	height: auto;
	min-height: 30vh;
}

.projects-greetings__title h1 {
	max-width: 100%;

	padding-top: $line-height * 3rem;
	padding-bottom: $line-height * 3rem;
	margin: 0;

	text-transform: uppercase;
}

.title-light {
	color: palette('white');
}

.title-dark {
	color: palette('black');
}

.projects-about {
	background-color: palette('blue', 'pool');
}

.authors {
	color: palette('white');

	background-color: palette('blue', 'dark');
}

.authors__wrap {
	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-wrapper;

		margin-right: $gutter / -1;
		margin-bottom: $gutter;
		margin-left: $gutter / -1;
	}
}

.authors__wrap h4 {
	padding: 0;
	margin: 0;
	margin-bottom: $line-height * 0.25em;

	font-family: 'archiabold', $title-font-stack;

	text-transform: uppercase;

	color: palette('blue', 'pool');
}

.authors__title p {
	padding-top: $line-height * 0.25em;
	margin-bottom: $line-height * 2em;

	font-family: 'archiabold', $title-font-stack;

	text-transform: uppercase;

	color: palette('blue', 'pool');

	border-top: solid 1px palette('blue', 'pool');
}

.authors__wrap p {
	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-item($align: 'top', $font-size: 1rem);

		font-size: ms(1);
	}
}

.authors-image {
	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-item($align: 'top', $font-size:  1rem);

		width: 30%;

		padding-right: $gutter / 1;
		padding-left: $gutter / 1;

		vertical-align: top;
	}
}

.authors-image img {
	border-radius: 100%;
}

.authors-about {
	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-item($align: 'top', $font-size:  1rem);

		width: 70%;

		padding-right: $gutter / 1;
		padding-left: $gutter / 1;

		vertical-align: top;
	}
}

.authors__box {
	margin-bottom: $gutter * 2;
}

.related-projects {
	margin-right: auto;
	margin-left: auto;

	background-color: palette('gray', 'light');
}

.related-projects h2 {
	color: palette('blue', 'dark');
}

.related-projects-wrap {
	@media screen and (min-width: breakpoint('tablet')) {
		@include inline-block-wrapper;

		margin-right: $gutter / -2;
		margin-left: $gutter / -2;
	}
}

.related-projects-box {
	margin: 0;
	margin-bottom: $gutter;

	@media screen and (min-width: breakpoint('phablet')) {
		@include inline-block-item($align: 'top', $font-size:  1rem);

		width: 50%;

		padding-right: $gutter / 2;
		padding-left: $gutter / 2;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		width: 25%;
	}
}

.related-projects-box-content {
	position: relative;

	display: block;

	height: 12.5rem;

	padding-top: 1rem;
	padding-bottom: 60px;
	padding-left: 1rem;

	text-align: left;
	overflow-wrap: break-word;

	color: palette('blue', 'pool');

	border: 1px solid palette('blue', 'pool');

	& h4 {
		width: 6em;

		margin: 0;

		text-transform: uppercase;

		color: palette('blue', 'pool');
	}
}

.related-projects .nav-link--plus--orange {
	position: absolute;
	right: 2rem;
	bottom: 1rem;

	&:hover {
		border: solid 1px palette('blue', 'dark');
	}
}
