<article class="authors">
	<div class="content smaller-width">
	<section class="authors__title">
		<p>{{ i18n "authors" | title }}</p>
	</section>
	<section class="authors__wrap">

		{{ with $.Site.Data.authors }}
			{{ range . }}
			<section class="authors__box">
				<section class="authors-image">
					<img src="{{ .image }}" alt="{{ .Title }}">
				</section>
				<section class="authors-about">
					<h4>{{ .name }}</h4>
					<p>{{ .about }}</p>
				</section>
			</section>
			{{ end }}
		{{ end }}
	</section>
	</div>
</article>
