{{ if .Params.authors }}

<article class="authors">
	<div class="content smaller-width">
	<section class="authors__title">
		<p>{{ i18n "authors" | title }}</p>
	</section>
		<section class="authors__wrap">
			{{ range .Params.authors }}
				{{ range where $.Site.Pages "Params.slug" .author }}
				<section class="authors__box">
					<section class="authors-image">
						<img src="/{{ .Params.avatar }}" alt="{{ .Title }}">
					</section>
					<section class="authors-about">
						<h4>{{ .Title }}</h4>
						<p>{{ .Content }}</p>
					</section>
				</section>
				{{ end }}
			{{ end }}
		</section>
	</div>
</article>
{{ end }}
