{{ if .Params.authors }}

<footer class="authors">
	<div class="content smaller-width">
		<div class="authors__title">
			<p>{{ i18n "authors" | title }}</p>
		</div>
		<div class="authors__wrap">
			{{ range .Params.authors }}
				{{ range where $.Site.Pages "Params.slug" .author }}
				<div class="authors__box">
					<div class="authors-image">
						<img src="{{ .Params.avatar }}" alt="{{ .Title }}">
					</div>
					<div class="authors-about">
						<h4>{{ .Title }}</h4>
						<p>{{ .Content }}</p>
					</div>
				</div>
				{{ end }}
			{{ end }}
		</div>
	</div>
</footer>
{{ end }}
