<article class="counselors" id="conselheiros">
	<div class="content">
		<h2>{{ i18n "counselors" | title }}</h2>

		{{ $firstWeight := 1 }}
		{{ $lastWeight := len (where .Site.Pages ".Params.role" "counselor") }}

		<div class="counselors-wrap">
		{{ range where .Site.Pages ".Params.role" "counselor" }}
			{{ $nextWeight := add (int .Params.weight) 1 }}
			{{ $prevWeight := sub (int .Params.weight) 1 }}

			<section class="counselors__box" id="{{ .Params.id }}">
				<a href="#{{ .Params.id }}">
					<div class="counselors-img">
						<img src="{{ .Params.avatar }}" alt="{{ .Title }}" />
					</div>

					<h3>{{ .Title }}</h3>
				</a>

				<div class="counselors__text">
					{{ if .Params.medium }}
						<a class="social-link social-link--medium" href="{{ .Params.medium }}">{{ .Title }}</a>
					{{ end }}

					{{ if .Params.linkedin }}
						<a class="social-link social-link--linkedin" href="{{ .Params.linkedin }}">{{ .Title }}</a>
					{{ end }}

					{{ if .Params.facebook }}
						<a class="social-link social-link--facebook" href="{{ .Params.facebook }}">{{ .Title }}</a>
					{{ end }}

					{{ if .Params.twitter }}
						<a class="social-link social-link--twitter" href="{{ .Params.twitter }}">{{ .Title }}</a>
					{{ end }}

					{{ .Content }}
				</div>

				{{ if gt $lastWeight 1 }}
					<nav class="what-box__buttons inner-section-nav">
						<ul>
						{{ range where $.Site.Pages ".Params.role" "counselor" }}
							{{ if eq .Params.weight $prevWeight }}
							<li class="inner-section-nav__item--prev"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
							{{ end }}
						{{ end }}

						{{ if eq .Params.weight $firstWeight }}
							{{ range where $.Site.Pages ".Params.role" "counselor" }}
								{{ if eq .Params.weight $lastWeight }}
									<li class="inner-section-nav__item--prev"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
								{{ end }}
							{{ end }}
						{{ end }}

						<li class="inner-section-nav__item--parent"><a href="#conselheiros">{{ i18n "counselors" }}</a></li>

						{{ range where $.Site.Pages ".Params.role" "counselor" }}
							{{ if eq .Params.weight $nextWeight }}
							<li class="inner-section-nav__item--next"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
							{{ end }}
						{{ end }}

						{{ if eq .Params.weight $lastWeight }}
							{{ range where $.Site.Pages ".Params.role" "counselor" }}
								{{ if eq .Params.weight $firstWeight }}
									<li class="inner-section-nav__item--next"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
								{{ end }}
							{{ end }}
						{{ end }}
						</ul>
					</nav>
				{{ end }}
			</section>
		{{ end }}
		</div>
	</div>
</article>

