<article class="counselors">
	<div class="content">
		<h2>{{ i18n "counselors" | title }}</h2>

		<div class="counselors-wrap" id="conselheiros">
		{{ range where .Site.Pages ".Params.role" "counselor" }}
			<section class="counselors__box" id="{{ .Params.id }}">


				<h5>{{ .Title }}</h5>
				<a href="#{{ .Params.id }}">
					<a href="#{{ .Params.id }}"><img src="{{ .Params.avatar }}" class="counselors-img"></a>

					<div class="counselors__text">

					{{ .Content }}
					<div class="counselors__buttons">
						<a class="next-link next-link__arrow-left-white" href="#{{ .Params.id }}">+</a>
						<a class="next-link next-link__close" href="#conselheiros">+</a>
						<a class="next-link next-link__arrow-right-white" href="#{{ .Params.id }}">+</a>
					</div>
					</div>
				</a>
			</section>
		{{ end }}
		</div>
	</div>
</article>

