<footer class="site-footer">
	<div class="footer-container">
		<div class="content-container__author content-container__author-{{ .Site.LanguageCode | lower }}">
			<h2>
				<a href="{{ "/" | relLangURL }}">Instituto Tecnologia e Equidade</a>
			</h2>
		</div>

		{{ if (or (.Params.facebook)  (.Params.twitter)  (.Params.medium ) (.Params.linkedin) (.Params.email )) }}
		<div class="footer__social-link">
			{{ if .Params.facebook }}
				<a class="big-social-link social-link--facebook" href="{{ .Params.facebook }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.twitter }}
				<a class="big-social-link social-link--twitter" href="{{ .Params.twitter }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.medium }}
				<a class="big-social-link social-link--medium" href="{{ .Params.medium }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.linkedin }}
				<a class="big-social-link social-link--linkedin" href="{{ .Params.linkedin }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.email }}
				<a class="big-social-link social-link--mail" href="{{ .Params.email }}" target="_blank">{{ i18n "email" | title }}</a>
			{{ end }}
		</div>
		{{ end }}


		{{ if .IsTranslated }}
			<div class="languages-navlinks-wrap">
				<ul class="languages-navlinks">
					{{ range .Translations }}
					<li>
						<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
					</li>
					{{ end}}
				</ul>
			</div>
		{{ end }}
	</div>
</footer>
<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>
