	<footer class="site-footer">
		<div class="footer-container">
			{{ with .Site.Params.author }}
				<div class="content-container__author">
						<a href="http://tecnologiaequidade.org.br" href="#">Instituto Tecnologia e Equidade</a>
					</h6>
				</div>
				<div class="footer__social-link">
					<a class="big-social-link social-link--medium" href="#" target="_blank">Medium</a>
					<a class="big-social-link social-link--linkedin" href="#" target="_blank">Linkedin</a>
					<a class="big-social-link social-link--facebook" href="#" target="_blank">Facebook</a>
					<a class="big-social-link social-link--twitter" href="#" target="_blank">Twitter</a>
				</div>
			{{ end }}
		</div>
	</footer>
</div> <!-- .main-container -->
</body>
</html>
