<header class="site-header">
	<!-- <video autoplay loop width="auto" height="170">
		<source src="/uploads/ite-video.m4v" type="video/mp4">
	</video> -->
	<div class="content-header">
		{{ partial "menu.html" . }}

		<div class="logo-light {{ if eq (.LanguagePrefix) "/es" }} logo-light-es {{end }}{{ if eq (.LanguagePrefix) "/en" }} logo-light-en {{end }}">
			<a href="{{ .LanguagePrefix }}">
				{{ .Site.Title }}
			</a>
		</div>

		<div class="site-header__content">
			<h1 class="site-title">{{ .Content | plainify }}</h1>
		</div>
		<div class="site-header__nav-link">
			<a class="nav-link nav-link--right--orange" href="#manifesto">{{ i18n "about" | lower }}</a>
		</div>
	</div>
</header>
