<header class="site-header">
	<!-- <video autoplay loop width="auto" height="170">
		<source src="/uploads/ite-video.m4v" type="video/mp4">
	</video> -->
	<div class="content-header">
		{{ partial "menu.html" . }}
		<div class="logo-light logo-light-{{ .Site.LanguageCode  | lower }}">
			<a href="{{ .LanguagePrefix }}">
				{{ .Site.Title }}
			</a>
		</div>
		<div class="site-header__content">
			<h1 class="site-title">{{ .Content | plainify }}</h1>
		</div>

		{{ if (or (.Params.facebook)  (.Params.twitter)  (.Params.medium ) (.Params.linkedin) (.Params.email )) }}
		<div class="site-header__nav-link">
			{{ if .Params.facebook }}
				<a class="social-link social-link--facebook--orange" href="{{ .Params.facebook }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.twitter }}
				<a class="social-link social-link--twitter--orange" href="{{ .Params.twitter }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.medium }}
				<a class="social-link social-link--medium--orange" href="{{ .Params.medium }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.linkedin }}
				<a class="social-link social-link--linkedin--orange" href="{{ .Params.linkedin }}" target="_blank" rel="noopener">{{ .Title }}</a>
			{{ end }}
			{{ if .Params.email }}
				<a class="social-link social-link--mail--orange" href="{{ .Params.email }}" target="_blank">{{ i18n "email" | title }}</a>
			{{ end }}
		</div>
		{{ end }}

	</div>
</header>
