<!DOCTYPE html>
<html lang="{{ with .Site.Language.Params.locale }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}" class="{{ if .IsHome }}home-page {{ end }}{{ $.Scratch.Get "rootClass" }} {{ .Params.rootClass }} {{ if eq (getenv "NODE_ENV") "development" }}grid-debug{{ end }} no-js">
<head>
	<meta content="width=device-width,initial-scale=1.0" name="viewport">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link rel="stylesheet" href="/assets/stylesheets/index.css" media="all">

	<!-- FAVICON -->
	<link type="image/png" href="/favicon-16px.png" rel="icon" sizes="16x16">
	<link type="image/png" href="/favicon-32px.png" rel="icon" sizes="32x32">
	<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/site.webmanifest" rel="manifest">
	<link href="/safari-pinned-tab.svg" rel="mask-icon" color="#333564">
	<meta name="apple-mobile-web-app-title" content="I&amp;T">
	<meta name="application-name" content="I&amp;T">
	<meta name="msapplication-TileColor" content="#333564">
	<meta name="theme-color" content="#333564">
	<!-- END FAVICON -->

	{{ with $.Site.Params.shareImages.default }}
	<meta name="image" content="{{ . | absURL }}">
	{{ end }}

	<!-- Schema.org for Google -->
	<meta itemprop="name" content="{{ .Site.Title }}">

	{{ with $.Site.Params.siteDescription }}
	<meta itemprop="description" content="{{ . }}">
	{{ end }}

	{{ with $.Site.Params.shareImages.default }}
	<meta itemprop="image" content="{{ . | absURL }}">
	{{ end }}

	<!-- Twitter and Open Graph general -->
	<meta name="twitter:title" property="og:title" content="{{ .Site.Title }}">

	{{ with $.Site.Params.siteDescription }}
	<meta name="twitter:description" property="og:description" content="{{ . | slicestr 0 200 }}">
	<!-- max of 200 characters for Twitter & Facebook -->
	{{ end }}

	<meta name="twitter:url" property="og:url" content="{{ .Permalink }}">

	<!-- Twitter -->
	{{ with $.Site.Params.twitterUsername }}
	<meta name="twitter:site" content="@{{ . }}">
	<meta name="twitter:creator" content="@{{ . }}">
	{{ end }}
	{{ with $.Site.Params.shareImages.twitter }}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:src" content="{{ . | absURL }}">
	{{ end }}
	<!-- Maximum dimension: 1024px x 512px; minimum dimension: 440px x 220px -->

	<!-- Facebook -->

	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	{{ with $.Site.Params.shareImages.facebook }}
	<meta property="og:image" content="{{ . | absURL }}"><!-- Recommended dimension: 1200px x 630px; minimum dimension: 600px x 315px -->
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
	{{ end }}


	<title>{{ if not .IsHome }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>

	{{ with $.Site.Params.siteDescription }}<meta name="description" content="{{ . }}">{{ end }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{{ if eq (getenv "NODE_ENV") "production" }}
		{{ with $.Site.GoogleAnalytics }}
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script src="https://www.googletagmanager.com/gtag/js?id={{ . }}" async></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '{{ . }}');
			</script>
		{{ end }}
	{{ end }}

	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
</head>
