<div class="content-menu">
	<nav class="skip-links">
		<ul>
			<li class="to-content"><a href="#conteudo">conteúdo</a></li>
			<li class="to-menu"><a href="#menu">{{ i18n "menu" | title }}</a></li>
		</ul>
	</nav>

	{{ if .IsTranslated }}
	<nav class="languages-navlinks-wrap">
		<ul class="languages-navlinks">
			{{ range .Translations }}
			<li>
				<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }} {{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>
			</li>
			{{ end}}
		</ul>
	</nav>
	{{ end }}


	<label for="menu-controller" onclick>menu</label>
	<nav class="main-menu" id="menu">
		<ul>
			{{ range .Site.Menus.main }}
				<li>
					<a class="sidebar-nav-item" href="{{ .URL }}">
						{{ .Name }}
					</a>
				</li>
			{{ end }}
		</ul>
	</nav>
</div>
