<article class="midia">
	<h2>{{ i18n "midia" | title }}</h2>
		<div class="midia-content">
			<ul class="midia-wrap">
				<li class="img-content istoe">
					<a href="#" target="_blank" target="_blank">Istoe</a>
				</li>
				<li class="img-content g1">
					<a href="#" target="_blank" target="_blank">G1</a>
				</li>
				<li class="img-content folha">
					<a href="#" target="_blank" target="_blank">Folha</a>
				</li>
				<li class="img-content huffpost">
					<a href="#" target="_blank" target="_blank">Huffpost</a>
				</li>
			</ul>
		</div>
</article>
