<article class="midia">
	<div class="content">
		<h2>{{ i18n "midia" | title }}</h2>
		<ul class="midia-wrap">
			<li class="logo-box istoe">
				<a href="https://istoe.com.br/era-dos-robos-chega-as-eleicoes" target="_blank">Istoe</a>
			</li>
			<li class="logo-box g1">
				<a href="https://g1.globo.com/economia/tecnologia/noticia/o-que-e-um-robo-na-web-e-como-ele-pode-influenciar-o-debate-nas-redes-especialistas-explicam.ghtml" target="_blank">G1</a>
			</li>
			<li class="logo-box folha">
				<a href="http://www1.folha.uol.com.br/poder/2017/12/1941961-grupos-combaterao-vale-tudo-eleitoral-na-internet.shtml" target="_blank">Folha</a>
			</li>
			<li class="logo-box huffpost">
				<a href="http://www.huffpostbrasil.com/2018/01/06/robos-sao-decisivos-para-definir-eleicao-polarizada-argumenta-especialista_a_23310816/" target="_blank">Huffpost</a>
			</li>
		</ul>
	</div>
</article>
