<article class="projects">
	<h2>{{ i18n "projects" | title }}</h2>

		{{ range where .Site.Pages ".File.TranslationBaseName" "fakenews" }}
		<section class="first-project">
			<div class="first-project__box">
				<h2>{{ .Title }}</h2>
			</div>
			<div class="first-project__summary">
				{{ .Summary }}
			</div>
		</section>
		{{ end }}
		{{ range where .Site.Pages ".File.TranslationBaseName" "pegabots" }}
		<section class="second-project">
			<div class="second-project__box">
				<h2>{{ .Title }}</h2>
			</div>
			<div class="second-project__summary">
				{{ .Summary }}
			</div>
		</section>
		{{ end }}
</article>
