<article class="purpose">
	<div class="content">
		<h2>{{ i18n "missionVisionValues" | title }}</h2>
		{{ range where .Site.Pages ".File.TranslationBaseName" "vision" }}
		<section class="vision-content">
			<h4>{{ .Title }}</h4>
			{{ .Content }}
		</section>
		{{ end }}
		{{ range where .Site.Pages ".File.TranslationBaseName" "mission" }}
		<section class="mission-content">
			<h4>{{ .Title }}</h4>
			{{ .Content }}
		</section>
		{{ end }}
		{{ range where .Site.Pages ".File.TranslationBaseName" "values" }}
		<section class="values-content">
			<h4>{{ .Title }}</h4>
			{{ .Content }}
		</section>
		{{ end }}
	</div>
</article>
