<article class="what-we-do" id="o-que-fazemos">
	<div class="content">
		<h2>{{ i18n "whatWeDo" | title }}</h2>
		{{ $firstWeight := 1 }}
		{{ $lastWeight := len (where .Site.Pages ".Params.role" "whatWeDo") }}
		<div class="what-boxes">
			{{ range where .Site.Pages ".Params.role" "whatWeDo" }}
				{{ $nextWeight := add (int .Params.weight) 1 }}
				{{ $prevWeight := sub (int .Params.weight) 1 }}
			<section class="what-box" id="{{ .Params.id }}">
				<div class="what-box__content">
					<a class="what-box__title" href="#{{ .Params.id }}">
						<h3>{{ .Title }}</h3>
					</a>
					<div class="what-box__text">
						{{ .Content }}
					</div>
					{{ if gt $lastWeight 1 }}
						<nav class="what-box__buttons inner-section-nav">
							<ul>
								{{ range where $.Site.Pages ".Params.role" "whatWeDo" }}
									{{ if eq .Params.weight $prevWeight }}
									<li class="inner-section-nav__item--prev"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
									{{ end }}
								{{ end }}

								{{ if eq .Params.weight $firstWeight }}
									{{ range where $.Site.Pages ".Params.role" "whatWeDo" }}
										{{ if eq .Params.weight $lastWeight }}
											<li class="inner-section-nav__item--prev"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
										{{ end }}
									{{ end }}
								{{ end }}

								<li class="inner-section-nav__item--parent"><a href="#o-que-fazemos">{{ i18n "whatWeDo" }}</a></li>

								{{ range where $.Site.Pages ".Params.role" "whatWeDo" }}
									{{ if eq .Params.weight $nextWeight }}
									<li class="inner-section-nav__item--next"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
									{{ end }}
								{{ end }}

								{{ if eq .Params.weight $lastWeight }}
									{{ range where $.Site.Pages ".Params.role" "whatWeDo" }}
										{{ if eq .Params.weight $firstWeight }}
											<li class="inner-section-nav__item--next"><a href="#{{ .Params.id }}">{{ .Title }}</a></li>
										{{ end }}
									{{ end }}
								{{ end }}
							</ul>
						</nav>
					{{ end }}
				</div>
			</section>
			{{ end }}
		</div>
	</div>
</article>
