<article class="who-we-are">
	<div class="content">
		<h2>{{ i18n "whoWeAre" | title }}</h2>
		<section class="who-we-are__persons">
			{{ range where .Site.Pages.ByWeight ".Params.role" "team" }}

				<div class="who-we-are__person">
					<div class="who-we-are__avatar">
						<img src="{{ .Params.avatarDirector }}" alt="{{ .Title }}">
					</div>

					<div class="person-content">
						<h5>{{ .Title }}</h5>
						{{ .Content }}
					</div>
				</div>
			{{ end }}
		</section>
	</div>
</article>
