<article class="who-we-are">
	<div class="content">
		<h2>{{ i18n "whoWeAre" | title }}</h2>
		<section class="who-we-are__persons">
			{{ range where .Site.Pages.ByWeight ".Params.role" "team" }}

				<div class="who-we-are__person">
					<div class="who-we-are__avatar">
						<img src="{{ .Params.avatarDirector }}" alt="{{ .Title }}">
					</div>
					<div class="person-content">
						<h4>{{ .Title }}</h4>
						{{ .Content }}

						{{ if .Params.twitter }}
							<a class="social-link social-link--twitter" href="{{ .Params.twitter }}">{{ .Title }}</a>
						{{ end }}
					</div>
				</div>
			{{ end }}
		</section>
	</div>
</article>
