{{ partial "header.html" . }}
<body>
	<input type="checkbox" id="menu-controller" class="menu-controller" hidden>

	<div class="main-container">
		{{ partial "greeting.html" . }}

		<div class="content-container">

			{{ partial "newsletter.html" . }}
			{{ partial "manifest.html" . }}
			{{ partial "projects.html" . }}
			{{ partial "what-we-do.html" . }}
			{{ partial "purpose.html" . }}
			{{ partial "who-we-are.html" . }}
			{{ partial "counselors.html" . }}
			{{ partial "media.html" . }}
			{{ partial "footer.html" . }}

		</div>
	</div>

</body>
</html>

