/// project specific mixins

@mixin nav-links {
	@include image-replacement;

	display: block;

	width: $button-diameter;
	height: $button-diameter;

	background-position: center center;

	border-width: $stroke;
	border-style: solid;
	border-color: currentColor;
	border-radius: 50%;

	&,
	&:link,
	&:visited {
		color: inherit;
	}

	&:hover {
		border-color: palette('gray', 'dark');
	}
}
