{{ partial "header.html" . }}
<style>
.title-background {
	background-image: url({{ .Params.titleImage }});
	background-position: center;
	background-repeat: repeat;
}
</style>
<section class="projects-greetings {{ if .Params.titleImage }}title-background{{ end }}">
	<div class="content projects-greetings__content">
		<div class="projects-greetings-wrap">
			<div class="projects-greetings__title">
				<div class="{{ if and .Params.darkText .Params.titleImage }}logo-dark{{ else }}logo-light{{ end }}">
					<a href="/">
						{{ .Title }}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<article class="related-projects">
	<div class="content">
		<h2>{{ i18n "projects" | title }}</h2>
		<ul class="related-projects-wrap">
			{{ range .Data.Pages.ByWeight }}
				<li class="related-projects-box">
					<div class="related-projects-box-content">
						<a href="{{ .Params.slug }}"><h4>{{ if .Params.shortTitle }} {{ .Params.shortTitle }} {{ else }} {{ .Title }} {{ end }}</h4></a>
						<a class="nav-link nav-link--plus--orange" href="{{ .Params.slug }}">{{ if .Params.shortTitle }} {{ .Params.shortTitle }} {{ else }} {{ .Title }} {{ end }}</a>
					</div>
				</li>
			{{ end }}
		</ul>
	</div>
</article>

{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
