{{ partial "header.html" . }}
<style>
.title-background {
	background-image: url({{ .Params.titleImage }});
	background-position: center;
	background-repeat: repeat;
}
</style>

<section class="projects-greetings {{ if .Params.titleImage }}title-background{{ end }}">
	<div class="content projects-greetings__content">
		<div class="projects-greetings-wrap">
			<div class="projects-greetings__title">
				<div class="{{ if and .Params.darkText .Params.titleImage }}logo-dark{{ else }}logo-light{{ end }}">
					<a href="/">
						{{ .Title }}
					</a>
				</div>
					<h1 {{ if .Params.titleImage }}class="{{ if .Params.darkText }}title-dark{{ else }}title-light{{ end }}"{{ end }}>{{ .Title }}</h1>
			</div>
		</div>
	</div>
</section>

<article class="projects-about">
	<div class="content smaller-width">
		<h2>{{ .Title }}</h2>
			{{ if .Params.imageBeforeText }}
				<img src="{{ .Params.imageBeforeText }}" alt="{{ .Title }}">
			{{ end }}

			{{ .Content }}

			{{ if .Params.ImageAfterText }}
				<img src="{{ .Params.ImageAfterText }}" alt="{{ .Title }}"

				class=" {{ if .Params.imageFullSize }} img-full {{ end }}"
				>
			{{ end }}

			<div class="carouselGallery"></div>
				{{ range .Params.imageGallery }}
					<img src="{{ .image }}" alt="{{ .caption }}">
				{{ end }}
			</div>

	</div>
</article>

{{ partial "authors.html" . }}
<article class="projects-related">
	<div class="content">
		<h2>{{ i18n "seeAlso" | title }}</h2>
		<ul class="projects-related-wrap">
			{{ range .Params.relatedProjects }}
			<li class="projects-related-box">
				<div class="projects-related-box-content">
						<a href="{{ .projectUrl }}"><h4>{{ .projectName }}</h4></a>
						<a class="nav-link nav-link--plus--orange" href="{{ .projectUrl }}">{{ i18n "Title" }}</a>
				</div>
			</li>
			{{ end }}
		</ul>
	</div>
</article>

{{ partial "newsletter.html" . }}

	<!-- {{ partial "newsletter.html" . }} -->

{{ partial "footer.html" . }}
