{{ partial "header.html" . }}

<section class="projects-greetings">
	<div class="content">
		<div class="projects-greetings-wrap">
			<div class="projects-greetings__title">
				<div role="banner">
					<a href="/">
						{{ .Title }}
					</a>
				</div>
				<h1>{{ .Title }}</h1>
			</div>
			<div class="projects-greetings__img">
				<picture>
					<source srcset="{{ .Params.image }}" type="image">
					<img src="{{ .Params.image }}" alt="{{ .Title }}">
				</picture>
			</div>
		</div>
	</div>
</section>

<article class="projects-about">
	<div class="content smaller-width">
		<h2>{{ .Title }}</h2>
		{{ .Content }}

	</div>
</article>
	{{ partial "authors.html" . }}

	{{ partial "newsletter.html" . }}

	<!-- {{ partial "newsletter.html" . }} -->

{{ partial "footer.html" . }}



